# Git ignore file
*.pdf
*.png
*.doc
*.docx
*.xls
*.xlsx
*.aux
*.log
*.lot
*.ttt
*.out
*.bbl
*.Rhistory
*.html
*.RData
*.rds
*.rda
*.tex
*.fdb_latexmk
*.fls
*.toc
*.lof
*.fff
*.blg
*.bcf
*.rec
*.run.xml
*.zip
*.txt
*~
manuscripts/cache/*
manuscripts/auto/*
.DS_Store
inst/doc
data-raw/*
docker/*
/scripts/strip-libs.sh
/Rmd/sn-get-data.Rmd
doc
Meta
